{{#each exercises as |exercise|}}
  {{log exercise}}

  <section class="box col-sm-4" data-id="{{exercise.id}}">
    <h4 style="text-transform: capitalize">Exercise:
<medium>
      {{#if exercise.exercise}}
        {{exercise.exercise}}
      {{else}}
        No exercise provided.
      {{/if}}
    </medium>
  </h5>
    <h5 style="text-transform: capitalize">Date:
<small>
      {{#if exercise.date}}
        {{exercise.date}}
      {{else}}
      -
      {{/if}}
    </small>
  </h5>
  <h5 style="text-transform: capitalize">Muscle Group:
<small>
      {{#if exercise.muscle_group}}
        {{exercise.muscle_group}}
      {{else}}
      -
      {{/if}}
    </small>
  </h5>
  <h5 style="text-transform: capitalize">description:
<small>
      {{#if exercise.description}}
        {{exercise.description}}
      {{else}}
      -
      {{/if}}
    </small>
  </h5>
  <h5 style="text-transform: capitalize">Time:
<small>
      {{#if exercise.time}}
        {{exercise.time}}
      {{else}}
      -
      {{/if}}
    </small>
  </h5>
  <h5 style="text-transform: capitalize">Reps:
<small>
      {{#if exercise.reps}}
        {{exercise.reps}}
      {{else}}
      -
      {{/if}}
    </small>
  </h5>
  <h5 style="text-transform: capitalize">Weigth:
<small>
      {{#if exercise.weigth}}
        {{exercise.weight}}
      {{else}}
      -
      {{/if}}
    </small>
  </h5>


  <button data-id="{{exercise.id}}" class="btn btn-danger delete">Delete Exercise</button>
  <button type=button data-toggle="modal" data-target="#update-{{exercise.id}}" class="btn btn-secondary update-modal">Update Exercise</button>


    <div id="update-{{exercise.id}}" class="model fade" tabindex="-1" role="dialog" aria-labelledby="updateExercise" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title font-weight-bold">Update Exercise</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
          <div class="modal-body vertical-align-center">
            <form class="update-form" data-id="{{exercise.id}}">
              <input type="text" class="form-control" Width="89px" name="exercise[exercise]" value="{{exercise.exercise}}" required>
              <input type="date" class="form-control" Width="89px" name="exercise[date]" value="{{exercise.date}}" placeholder="date of exercise">
              <input type="text" class="form-control" name="exercise[description]" value="{{exercise.description}}" placeholder="Exercise description">
              <input type="text" class="form-control" name="exercise[muscle_group]" value="{{exercise.muscle_group}}" placeholder="Muscle Group">
              <input type="text" class="form-control" name="exercise[time]" value="{{exercise.time}}" placeholder="Time">
              <input type="text" class="form-control" name="exercise[reps]" value="{{exercise.reps}}" placeholder="Number of reps">
              <input type="text" class="form-control" name="exercise[weight]" value="{{exercise.weigth}}" placeholder="Weight">
              <button type="submit" class="form-control btn btn-secondary update">Update Exercise</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>

  </section>
{{/each}}
