{{#each exercises as |exercise|}}
  {{log exercise}}
  <section data-id="{{exercise.id}}">
    <h6>Exercise:</h6>
    <p>

      {{#if exercise.exercise}}
        {{exercise.exercise}}
      {{else}}
        No exercise provided.
      {{/if}}

      {{#if exercise.date}}
        {{exercise.date}}
      {{else}}
        Date: -
      {{/if}}

      {{#if exercise.muscle_group}}
        {{exercise.muscle_group}}
      {{else}}
        Muscle group: -
      {{/if}}

      {{#if exercise.description}}
        {{exercise.description}}
      {{else}}
        Description: -
      {{/if}}

      {{#if exercise.time}}
        {{exercise.time}}
      {{else}}
        Time: -
      {{/if}}

      {{#if exercise.reps}}
        {{exercise.reps}}
      {{else}}
        Reps: -
      {{/if}}

      {{#if exercise.weigth}}
        {{exercise.weight}}
      {{else}}
        Weight: -
      {{/if}}
    </p>

  <button data-id="{{exercise.id}}" class="btn btn-danger delete">Delete Exercise</button>
  <button type=button data-toggle="modal" data-target="#update" class="btn btn-info update-modal">Update Exercise</button>
  <div id=update class="model fade" tabindex="-1" role="dialog">
  <div class="modal-dialog"></div>
  <div class="modal-content">
    <div class="modal-header text-center">
    <h4 class="modal-title font-weight-bold" id="updateExerciseTitle">Update Exercise</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class='modal-body'>
      <form class="form-control" data-id='newExercise'>
        <input type="text" name="exercise[exercise]" placeholder="Exercise name">
        <input type="date" name="exercise[date]" placeholder="date of exercise">
        <input type="text" name="exercise[description]" placeholder="Exercise description">
        <input type="text" name="exercise[muscle_group]" placeholder="Muscle Group">
        <input type="text" name="exercise[time]" placeholder="Time">
        <input type="integer" name="exercise[reps]" placeholder="Number of reps">
        <input type="decimal" name="exercise[weight]" placeholder="Weight">
      </form>
    </div>
    <div class='modal-footer'>
    <button data-id="{{exercise.id}}" type="submit" class="btn btn-info update">Update Exercise</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
  </div>
    </section>
{{/each}}
